body{
 background-color: #701931;	
}
p{
  color: black;
}
label{
 font-size: 20pt;	
}
img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 350px;
}
img.logo_choice_page{
   display: block;
   margin-left:auto;
   margin-right: auto;
   width: 20%;
   height: 175px;
}
input[type=text], input[type=password], input[type=email]{
		width: 100%;
		padding: 15px;
		padding-left: 0px;
		padding-right: 0px;
		margin: 5px 0 22px 0;
		display: inline-block;
		border: none;
		background: #f1f1f1;
}
input[type=submit]{
	font-size: 15pt;
	padding: 10pt;
	border: none;
	margin-left: 175px;
	background: pink;
}
/*background color for input when its focused*/
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
		background-color: #ddd;
		outline: none;
}
.container{
		background-color: #fefefe;
		margin: 5% auto 15% auto; /*5% from top, 15% from bottom and centered*/
		border: 1px solid #888;
		width: 30%;
		color: black;
		padding-bottom:10px;
}
body.signIn{
		font-family: Arial, Helvetica, sans-serif;
		background-color: LightGray;
}

/* Table style */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin-left: 400px;
  margin-top: 150px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd){
  background-color: white;
}
